body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

nav {
  background-color: #fef7e2;
  margin-inline: auto;
  margin-block: 18%;
  border-radius: 100px;
  padding: 30px 30px;
}

.button {
  flex: 0;
  background-color: rgb(255, 223, 126);
  border-radius: 100px;
  padding: 10px 30px;
  text-align: center;
  border: 1px solid #ccc;
  text-wrap: nowrap;
  max-width: 200px;
}

.shop-button {
  flex-grow: 2;
  font-size: 30pt;
  justify-content: space-evenly;
  font-weight: bold;
}

img {
  height: 40px;
}
